/* Setting the default font for all text elements */
body, h1, h2, p, section {
    font-family: 'Georgia', serif;
}

/* Background styles */
body, html {
    height: 100%;
    background-image: url('https://i.pinimg.com/originals/a1/49/8f/a1498f57bb8f4ecdf633482d9173c90d.png');
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-size: cover;
}

/* Container for main content */
.main-content {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;
    width: 1200px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Text alignment */
h1, h2, p, section {
    text-align: center;
    margin-bottom: 20px;
}

/* Map container styles */
.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Map images styles */
.map-container img {
    width: 100px;
    height: 100px;
    margin: 0 20px;
}
